body {
    margin: 0;
    overflow: hidden;
}

.container
{
    width: 100vw;
    height: 100vh; 
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}